.DS_Store
/DataProcessingDocumentation/*/*/*.ipynb_checkpoints
/DataProcessingDocumentation/*/*/*/*.ipynb_checkpoints
/DataProcessingDocumentation/*/*/*/*/*.ipynb_checkpoints
DataProcessingDocumentation/*/*/*/*/*/*.ipynb_checkpoints

/DataProcessingDocumentation/*/*.xlsx
/DataProcessingDocumentation/*/*/*.xlsx
/DataProcessingDocumentation/*/*/*/*/*.xlsx

/DataProcessingDocumentation/*/*.nc
/DataProcessingDocumentation/*/*/*.nc
/DataProcessingDocumentation/*/*/*/*/*.nc

/DataProcessingDocumentation/*/*.csv
/DataProcessingDocumentation/*/*/*.csv
/DataProcessingDocumentation/*/*/*/*/*.csv
*.jupyterlab-workspace
